doctype 5
html
	head
		title Photo Gallery
		link(rel="stylesheet", href="/app/css/bootstrap.min.css")
		link(rel="stylesheet", href="/app/css/flat-ui.css")
		link(rel="stylesheet", href="/app/css/app.css")
	body
		block content

	script(src="/app/lib/require/require.js", data-main="js/main.js")
