/*-----------------photoviewer start-----------------*/
.photoviewer {
	position: relative;
	width: 100%;
	min-height: 500px;
	line-height: 475px;
	text-align: center;
}
.pre {
	width: 50%;
	height: 100%;
	position: absolute;
	cursor:url("../img/arrow-blue-left.png"), pointer;
}
.next {
	width: 50%;
	height: 100%;
	position: absolute;
	cursor:url('../img/arrow-blue-right.png'), pointer;
	left: 50%;
}
/*-----------------photoviewer end-----------------*/