/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*-----------------photoviewer start-----------------*/
.photoviewer {
	position: relative;
	width: 100%;
	min-height: 500px;
	line-height: 475px;
	text-align: center;
}
.pre {
	width: 50%;
	height: 100%;
	/*background-color: #dfdae1;
	opacity: 0.2;*/
	position: absolute;
	cursor:url("../img/arrow-blue-left.png"), pointer;
}
.next {
	width: 50%;
	height: 100%;
	/*background-color: #a6a6a3;
	opacity: 0.2;*/
	position: absolute;
	cursor:url('../img/arrow-blue-right.png'), pointer;
	left: 50%;
}
/*-----------------photoviewer end-----------------*/